{% extends "layout.twig" %}

{% block body %}

<h1 class="text-center text-3xl">Cadastrar reunião</h1>

<div class="container mx-auto p-4">
    <form action="/reuniao" method="post" class="flex flex-col">
        <label for="titulo" class="text-lg">Titulo</label>
        <input type="text" name="titulo" id="titulo"
            class="p-2 border-solid border-2 border-black rounded-sm w-full m-2">
        <label for="assunto" class="text-lg">Assunto</label>
        <input type="text" id="assunto" name="assunto"
            class="p-2 border-solid border-2 border-black rounded-sm w-full m-2">
        <label for="descricao" class="text-lg">Descrição</label>
        <input type="text" id="descricao" name="descricao"
            class="p-2 border-solid border-2 border-black rounded-sm w-full m-2">
        <label for="data" class="text-lg">Data</label>
        <input type="date" id="data" name="data" class="p-2 border-solid border-2 border-black rounded-sm w-full m-2">
        <label for="local" class="text-lg">Local</label>
        <input type="text" id="local" name="local" class="p-2 border-solid border-2 border-black rounded-sm w-full m-2">
        <div class="flex justify-end">
            <button class="p-2 text-white bg-blue-500 text-right rounded-md text-lg my-4">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}